<html lang="ru">
	<head>
	<!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>To-Do lists</title>
	<!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/static/base.css" >
	</head>
	<body>
		<div class="container">

			<div class="row">
				<div class="col-md-6 col-md-offset-3 jumbotron">
					<div class="text-center">
						<h1>{% block header_text %}{% endblock header_text %}</h1>
						<form method="POST" action="{% block form_action %}{% endblock form_action %}">
							{{ form.text }}
							{% csrf_token %}
							{% if form.errors %}
							<div class="from-group has-error">
								<span class="help-block">{{ form.text.errors }}</span>
							</div>
							{% endif %}
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					{% block table %}
					{% endblock table %}					
				</div>
			</div>

		</div>
		<script src="/static/jquery-3.5.1.js"></script>
		<script src="/static/list.js"></script>
		<script >
			initialize()
		</script>

	</body>
</html>